.home-banner {
  background: url('../img/hero-img.jpg');
  block-size: 600px;
  background-size: cover;
  background-position: 50% 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-banner__title {
  color: white;
  margin: 0;
  text-align: center;
}

hr {
  margin: 16px 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.product {
  margin: 80px;
  transition: 0.5s;
}

.product:hover {
  background: var(--primary-color);
  padding: 20px;
}

.product__divider {
  margin: 50px 0;
}

.product__infos {
  margin-right: 100px;
  color: black;
}

.product__image {
  border: solid 5px;
  border-color: var(--primary-color);
}

.redirection-page-produit {
  text-decoration: none;
}

/* RESPONSIVE  */

@media only screen and (max-width: 800px) {
  .product {
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }

  .product__infos {
    margin: 0 100px 0 100px;
  }

  .product__image {
    height: 250px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .product__image {
    height: 150px;
  }

  .product__infos {
    margin: 0 50px 0 50px;
  }
}
